img {
border-radius: 10px; 
box-shadow: 0 0 10px #444;
}

body {
	background-image: url('back.jpg');
	}
.display-3{
	color:white;
	font-family: "Calibri";
	text-shadow: black 1px 1px  10px;
}
.display-4{
	color:white;
	font-family: "Calibri";
	text-shadow: black 1px 1px  10px;
}

.about{
	background: linear-gradient( #8E2AF3,#7C45D2 ,#6532FD);
}
.foot {
	background: linear-gradient( #9d509b,#7C45D2 ,#861783);
}
h1  {
	font-family: "Calibri";
}

.three {
  color: #36454A;
}

.three a {
  font-family: "SPACEMAN";
   color: #36454A;
   background: linear-gradient( #9b4599, #541b63);
   box-shadow: 2px 2px 3px black;
   
}

.three a:hover {
	font-family: "SPACEMAN";
	 background: linear-gradient(#541b63, #9b4599);
   box-shadow: 2px 2px 3px black;
}
.too {
  color: #36454A;
}

.too a {
  font-family: "SPACEMAN";
   color: #36454A;
   background: linear-gradient( #9b4599, #541b63);
   box-shadow: 2px 2px 3px black;
}

.too a:hover {
	font-family: "SPACEMAN";
	 background: linear-gradient(#541b63, #9b4599);
   box-shadow: 2px 2px 3px black;
}
@font-face {
font-family: "SPACEMAN";
src: url("SPACEMAN.TTF") format("truetype");
font-style: normal; 
font-weight: normal;   
}

